swagger: '2.0'
info:
  version: v1
  title: ClickPOS Api
  description: >-
    ClickPOS API is used to make RESTfull api calls and also you can make API
    calls of other company by supplying Company GUID
host: 'tcpsvr121.clickpos.net:443'
basePath: /ctimesv1.1staging
schemes:
  - https
paths:
  /ctimeapi/Admin/Login:
    post:
      tags:
        - Admin
      summary: Login
      operationId: Admin_Login
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Admin/CompanyList:
    get:
      tags:
        - Admin
      summary: Obtain the company list
      operationId: Admin_CompanyList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Admin/CompanyUserDetails:
    get:
      tags:
        - Admin
      summary: Obtain the user company details
      description: "user guid {super}\r\n            login code"
      operationId: Admin_CompanyUserDetails
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Admin/CompanyUserBranchDetails:
    get:
      tags:
        - Admin
      summary: Obtain the company user branch allocation by selected user name
      description: 'User name is {first name} {last name}'
      operationId: Admin_CompanyUserBranchDetails
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/Loginv2:
    post:
      tags:
        - Authentication
      summary: Login version 2
      operationId: Authentication_Loginv2
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: mainrequestdetails
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.MainCredential'
       x-code-samples:
        - lang: 'C#'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/Login:
    post:
      tags:
        - Authentication
      summary: authenticate with object sender
      operationId: Authentication_Login
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: maincredentials
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.MainCredential'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/SpecialLicenseAvailable:
    post:
      tags:
        - Authentication
      summary: Special License
      operationId: Authentication_SpecialLicenseAvailable
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: logincode
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      deprecated: false
  /ctimeapi/Authentication/AppUserToken:
    post:
      tags:
        - Authentication
      summary: App user Token
      operationId: Authentication_AppUserToken
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: webtoken
          in: query
          description: ''
          required: true
          type: string
        - name: userid
          in: query
          description: ''
          required: true
          type: string
        - name: branchname
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/UpdateLicenseGroupTypeCount:
    post:
      tags:
        - Authentication
      summary: update the license group type count by token and license type name
      operationId: Authentication_UpdateLicenseGroupTypeCount
      consumes: []
      produces: []
      parameters:
        - name: webtoken
          in: query
          description: ''
          required: true
          type: string
        - name: licensegrouptype
          in: query
          description: ''
          required: true
          type: string
      responses:
        '204':
          description: No Content
      deprecated: false
  /ctimeapi/Authentication/LogOutUser:
    post:
      tags:
        - Authentication
      summary: logout user by webtoken /userid
      description: "logout user by webtoken /userid and license group \r\n            for decrementing the license group count usage"
      operationId: Authentication_LogOutUser
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: logoutuser
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/clickposapi.Models.SearchModels.SeachCriteriaStructure.LogoutUser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/LoggedInCheck:
    post:
      tags:
        - Authentication
      operationId: Authentication_LoggedInCheck
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: webtoken
          in: query
          required: true
          type: string
        - name: usertoken
          in: query
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/CustomerLogin:
    post:
      tags:
        - Authentication
      summary: Customer login / Repair customers
      description: Customer login / Repair customers
      operationId: Authentication_CustomerLogin
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: customeremail
          in: query
          description: Customer email
          required: true
          type: string
        - name: customerpassword
          in: query
          description: Customer password
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Authentication/UserQRAuthentication:
    post:
      tags:
        - Authentication
      summary: "validate the QRCode from the user upfront \r\n            header token is company guid \r\n            qrcode is the token"
      operationId: Authentication_UserQRAuthentication
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Chart/GetSampleData:
    get:
      tags:
        - Chart
      operationId: Chart_GetSampleData
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/Activate:
    post:
      tags:
        - ConnexLicense
      summary: Activates the Connex License against the provided credentials.
      operationId: ConnexLicense_Activate
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: oLicenseCredentials
          in: body
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexMachineCredentials'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/ClientRegStatus:
    post:
      tags:
        - ConnexLicense
      summary: Method responsible for checking the Clients registration status.
      operationId: ConnexLicense_ClientRegStatus
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: oLicCredentials
          in: body
          description: Class representation of license credentials to be checked
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexMachineCredentials'
      responses:
        '200':
          description: OK
          schema:
            type: string
      deprecated: false
  /ctimeapi/ConnexLicense/ClientRegStatus2:
    post:
      tags:
        - ConnexLicense
      summary: Method responsible for checking the Clients registration status.
      operationId: ConnexLicense_ClientRegStatus2
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: oLicCredentials
          in: body
          description: Class representation of license credentials to be checked
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexMachineCredentials'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ClientRegStatusInfo'
      deprecated: false
  /ctimeapi/ConnexLicense/DeregisterLicense:
    post:
      tags:
        - ConnexLicense
      summary: Method Enabling de-registration of a license.
      operationId: ConnexLicense_DeregisterLicense
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: oLicenseCredentials
          in: body
          description: >-
            Class representation of all details required up for successful
            de-registration
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexMachineCredentials'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/UpdateMachineIP:
    post:
      tags:
        - ConnexLicense
      summary: Method responsible for updating the client ip address information
      operationId: ConnexLicense_UpdateMachineIP
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: loginCode
          in: query
          description: ''
          required: true
          type: string
        - name: clientKey
          in: query
          description: ''
          required: true
          type: string
        - name: registrationKey
          in: query
          description: ''
          required: true
          type: string
        - name: newIpAddress
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
      deprecated: false
  /ctimeapi/ConnexLicense/UpdateLogInfo:
    post:
      tags:
        - ConnexLicense
      operationId: ConnexLicense_UpdateLogInfo
      consumes:
        - application/json
        - text/json
      produces: []
      parameters:
        - name: info
          in: body
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexLogInfo'
      responses:
        '204':
          description: No Content
      deprecated: false
  /ctimeapi/ConnexLicense/CheckForLogRequest:
    post:
      tags:
        - ConnexLicense
      operationId: ConnexLicense_CheckForLogRequest
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: info
          in: body
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexLogInfo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.ConnexLogInfo'
      deprecated: false
  /ctimeapi/ConnexLicense/GetAllEftposDevices:
    post:
      tags:
        - ConnexLicense
      summary: >-
        Method returns a list of all ConneX Host Names which are registered to
        Enable PC-EFTPOS via REST API
      operationId: ConnexLicense_GetAllEftposDevices
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/RegisterEftposDeviceViaConneX:
    post:
      tags:
        - ConnexLicense
      summary: >-
        Method used for Registering/Modifying ConneX Host Name to a specific
        branch/Till/Payment Type button combination
      operationId: ConnexLicense_RegisterEftposDeviceViaConneX
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: info
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.EftposDeviceRegistrationInfo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/DeregisterEftposDeviceViaConneX:
    post:
      tags:
        - ConnexLicense
      summary: >-
        Method used for De-Registering ConneX Host Name mapping with a specific
        branch/Till/Payment Type button combination
      operationId: ConnexLicense_DeregisterEftposDeviceViaConneX
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: info
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/ClickPOS.Connex.Data.EftposDeviceDeRegistrationInfo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/GetEftposHostName:
    post:
      tags:
        - ConnexLicense
      summary: >-
        Method used for fetching the ConneX host name for Eftpos device based on
        a combination of shared Branch/Till/Payment Type button information
      operationId: ConnexLicense_GetEftposHostName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: BranchCode
          in: query
          description: ''
          required: true
          type: string
        - name: TillId
          in: query
          description: ''
          required: true
          type: integer
          format: int32
        - name: PaymentTypeId
          in: query
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/GetTime:
    get:
      tags:
        - ConnexLicense
      operationId: ConnexLicense_GetTime
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: string
      deprecated: false
  /ctimeapi/ConnexLicense/EFTPBranchMappingListByBranchName:
    get:
      tags:
        - ConnexLicense
      summary: Get the payment type mapping with branch name
      operationId: ConnexLicense_EFTPBranchMappingListByBranchName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchName
          in: query
          description: Branch Name for the existing compnay
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ConnexLicense/EFTPPOSBranchEntry:
    post:
      tags:
        - ConnexLicense
      summary: Create a EFTPPPOS Maping entry
      operationId: ConnexLicense_EFTPPOSBranchEntry
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchmappingInformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.PaymentTypeBranchMapping'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/ListCustomerByCodes:
    get:
      tags:
        - Customer
      summary: "list customer by the code value \r\n            seperated by comma"
      operationId: Customer_ListCustomerByCodes
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: id
          in: body
          description: '123,677,2,56'
          required: true
          schema:
            type: array
            items:
              format: int32
              type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/AddCustomer:
    post:
      tags:
        - Customer
      summary: Add Customer
      operationId: Customer_AddCustomer
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: entry
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Customer'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/SaveCustomerEntry:
    post:
      tags:
        - Customer
      summary: post a single entry of customer
      operationId: Customer_SaveCustomerEntry
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: entry
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Customer'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/RemoveCustomerByCustomerNumber:
    post:
      tags:
        - Customer
      summary: "Remove customer by customer number \r\n            if the customer sales history exists then \r\n            the system will response with a message"
      operationId: Customer_RemoveCustomerByCustomerNumber
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/SaveCustomer:
    post:
      tags:
        - Customer
      summary: SaveCustomer post method
      operationId: Customer_SaveCustomer
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: customerobject
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.CustomerInformation'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/SearchByNames:
    get:
      tags:
        - Customer
      summary: 'name, surname, company name, tradingas, and mobile number'
      operationId: Customer_SearchByNames
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: searchtext
          in: query
          required: true
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
        - name: pagesize
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/SearchByEmail:
    post:
      tags:
        - Customer
      summary: Search By Email
      operationId: Customer_SearchByEmail
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Customer/SearchByFirstNameLastName:
    get:
      tags:
        - Customer
      summary: First Name /Last name
      operationId: Customer_SearchByFirstNameLastName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: firstname
          in: query
          required: true
          type: string
        - name: lastname
          in: query
          required: true
          type: string
        - name: page
          in: query
          required: false
          type: integer
          format: int32
        - name: pagesize
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DailyReconciliation/GetDailyReconciliationByCode:
    post:
      tags:
        - DailyReconciliation
      summary: "Obtain the Daily reconciliation result by the master code \r\n            will detamine if the reconciliation is closed or open"
      operationId: DailyReconciliation_GetDailyReconciliationByCode
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: reconciliationcode
          in: query
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DailyReconciliation/OpenDailyReconciliation:
    post:
      tags:
        - DailyReconciliation
      summary: Daily Reconciliation
      operationId: DailyReconciliation_OpenDailyReconciliation
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: requestdailyreconciliation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.DailyReconciliationRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DailyReconciliation/AddCash:
    post:
      tags:
        - DailyReconciliation
      summary: Add the cash for the daily reconciliation
      operationId: DailyReconciliation_AddCash
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: cashrequest
          in: body
          description: ''
          required: true
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationCash
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationDetails
      deprecated: false
  /ctimeapi/DailyReconciliation/RemoveCash:
    post:
      tags:
        - DailyReconciliation
      summary: "Remove cash from the daily reconciliation \r\n            cash management based on the dailiy reconciliation details and \r\n            master code"
      operationId: DailyReconciliation_RemoveCash
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: cashrequest
          in: body
          description: ''
          required: true
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationCash
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationDetails
      deprecated: false
  /ctimeapi/DailyReconciliation/SearchDailyreconciliationByBranchNameAndTill:
    post:
      tags:
        - DailyReconciliation
      summary: "Search the daily reconciliation by \r\n            till number and the branch name"
      operationId: DailyReconciliation_SearchDailyreconciliationByBranchNameAndTill
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: dailyreconciliationsearch
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.DailyreconciliationSearch'
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliation
      deprecated: false
  /ctimeapi/DailyReconciliation/EditDailyReconciliation:
    post:
      tags:
        - DailyReconciliation
      summary: Edit daily reconciliation criteria
      operationId: DailyReconciliation_EditDailyReconciliation
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: reconciliationeditrequest
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.DailyReconciliationEditRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DailyReconciliation/DailyReconciliationEnd:
    post:
      tags:
        - DailyReconciliation
      summary: End Reconciliation
      operationId: DailyReconciliation_DailyReconciliationEnd
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: dailyreconciliationheader
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationHeader
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DailyReconciliation/DailyReconciliationDelete:
    post:
      tags:
        - DailyReconciliation
      summary: "Delete daily reconciliation record \r\n            by master record number"
      operationId: DailyReconciliation_DailyReconciliationDelete
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: dailyreconciliationheader
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationHeader
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DailyReconciliation/DailyreconciliationCashLogByReconciliationCode:
    post:
      tags:
        - DailyReconciliation
      summary: "Obtain the daily reconciliation cash log entry \r\n            by the reconciliation master code"
      operationId: DailyReconciliation_DailyreconciliationCashLogByReconciliationCode
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: mastercode
          in: query
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationCashAdjustment
      deprecated: false
  /ctimeapi/DailyReconciliation/DailyReconciliationPayDetailUpdate:
    post:
      tags:
        - DailyReconciliation
      summary: Update the dailyreconciliation pay details
      operationId: DailyReconciliation_DailyReconciliationPayDetailUpdate
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: dailyreconciliationpayDetails
          in: body
          description: ''
          required: true
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationPayDetails
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.DailyReconciliationPayDetails
      deprecated: false
  /ctimeapi/DataSync/DeviceDeregistration:
    post:
      tags:
        - DataSync
      summary: Device remove
      operationId: DataSync_DeviceDeregistration
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: deviceinformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.DeviceDetails'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/DeviceList:
    get:
      tags:
        - DataSync
      summary: "Obtain the list of devices \r\n            that are registred"
      description: "used to display the unique device id's \r\n            not the names"
      operationId: DataSync_DeviceList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/RemoveDeviceSyncDetails:
    post:
      tags:
        - DataSync
      summary: >-
        Nominate the area for the sysnc to be removed so you can re-execute the
        sysnc
      description: 'Sales : will be for that perticular date'
      operationId: DataSync_RemoveDeviceSyncDetails
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: deviceinformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.DeviceDetails'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ContactSync:
    post:
      tags:
        - DataSync
      summary: retrive the customer list from the master store
      operationId: DataSync_ContactSync
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: customerList
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Customer'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/Contact:
    get:
      tags:
        - DataSync
      summary: Get the customer data sysnc
      operationId: DataSync_Contact
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/SalesInformation:
    get:
      tags:
        - DataSync
      summary: "Sales data sync \r\n            the method will provide the following list"
      description: "Sales header \r\n            Sales item\r\n            Sales pay"
      operationId: DataSync_SalesInformation
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.SalesDataInformationSync'
      deprecated: false
  /ctimeapi/DataSync/CatalogueList:
    get:
      tags:
        - DataSync
      summary: Catalogue list for the latest records
      operationId: DataSync_CatalogueList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/Catalogue:
    post:
      tags:
        - DataSync
      summary: return a collaction message for validation
      operationId: DataSync_Catalogue
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productCatalogue
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Catalogue'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/CatalogueGroupList:
    get:
      tags:
        - DataSync
      summary: Catalogue group  list for sync process
      operationId: DataSync_CatalogueGroupList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/CatalogueGroup:
    post:
      tags:
        - DataSync
      summary: "Catalogue group \r\n            Create or update based on the id provided \r\n            Prerequisite : the master category need to be created first"
      operationId: DataSync_CatalogueGroup
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: listofproductgerouplist
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.ProductGroup'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/CategoryLatest:
    get:
      tags:
        - DataSync
      summary: "get the latest update by last sysn date \r\n            or get all the list by sending the latest date null"
      operationId: DataSync_CategoryLatest
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/CatagoryZero:
    post:
      tags:
        - DataSync
      summary: "Post lis of category zero list for adding/modifying \r\n            based on the modification date or master record id.  \r\n            will return the update / adde catagory zeros list"
      operationId: DataSync_CatagoryZero
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: listofCatagoryZeros
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.CatagoryZero'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/Users:
    post:
      tags:
        - DataSync
      summary: ''
      operationId: DataSync_Users
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: userdetails
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.UserInformation'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/UserList:
    get:
      tags:
        - DataSync
      summary: latest user list for the alocated and none allocated
      operationId: DataSync_UserList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/SupplierList:
    get:
      tags:
        - DataSync
      summary: Supplier list based on the sync date provided
      operationId: DataSync_SupplierList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/Supplier:
    post:
      tags:
        - DataSync
      summary: Supplier information POST
      operationId: DataSync_Supplier
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: supplierInformation
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Supplier'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/BranchLatest:
    get:
      tags:
        - DataSync
      summary: "Branch list \r\n            get the list of branches that have update based on the last sync date"
      operationId: DataSync_BranchLatest
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/BranchSync:
    post:
      tags:
        - DataSync
      summary: ''
      operationId: DataSync_BranchSync
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchinfo
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ResourceheaderSync:
    get:
      tags:
        - DataSync
      summary: get the resource header section
      operationId: DataSync_ResourceheaderSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ResourceItemListSync:
    get:
      tags:
        - DataSync
      summary: get the resource item list
      operationId: DataSync_ResourceItemListSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ResourceHeaderItemList:
    post:
      tags:
        - DataSync
      summary: "Sync the resource header and items based on the list provided \r\n            header will have zero id if its new \r\n            items will have zero code it its new \r\n            \r\n            return will be a complete list of just response success"
      operationId: DataSync_ResourceHeaderItemList
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: resourceassociationlist
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.ResourceAssociation'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ProductItemExtraItemGroupSync:
    get:
      tags:
        - DataSync
      summary: Product Item Group Extra Item Data Sync
      description: the following will sysnc only the Group and the item barcode
      operationId: DataSync_ProductItemExtraItemGroupSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ProductItemGroupSync:
    get:
      tags:
        - DataSync
      summary: Product item group
      operationId: DataSync_ProductItemGroupSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ProductItemAllocationSync:
    get:
      tags:
        - DataSync
      summary: Product Item Allocation sysnc
      operationId: DataSync_ProductItemAllocationSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ProductStandardItemAllocationSync:
    get:
      tags:
        - DataSync
      summary: Product stanard item sysnc process
      operationId: DataSync_ProductStandardItemAllocationSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/UserGroupSync:
    get:
      tags:
        - DataSync
      summary: ''
      operationId: DataSync_UserGroupSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/PrinterConfigurationSync:
    get:
      tags:
        - DataSync
      summary: Printer configuration data Sync
      operationId: DataSync_PrinterConfigurationSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/PrinterCategoryConfigurationSync:
    get:
      tags:
        - DataSync
      summary: Printer category configuration data Sync
      operationId: DataSync_PrinterCategoryConfigurationSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/PrinterSubCategoryConfigurationSync:
    get:
      tags:
        - DataSync
      summary: Printer Sub  category configuration data Sync
      operationId: DataSync_PrinterSubCategoryConfigurationSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ProductBarAllocationSync:
    get:
      tags:
        - DataSync
      summary: Product barcode allocation sysnc
      operationId: DataSync_ProductBarAllocationSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ComboProductCompositeSync:
    get:
      tags:
        - DataSync
      summary: "get the combo composite products \r\n            for the data sysnc \r\n            Data store is composite for the result"
      operationId: DataSync_ComboProductCompositeSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ComboProductAllocationsSync:
    get:
      tags:
        - DataSync
      summary: "get combo barcode allocation list \r\n            for data sync\r\n            Table : tblProductCombAllocation"
      operationId: DataSync_ComboProductAllocationsSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ComboProductListSync:
    get:
      tags:
        - DataSync
      summary: "Product combo list\r\n            Table: tblProductComboList"
      operationId: DataSync_ComboProductListSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/DeletedSummarySync:
    get:
      tags:
        - DataSync
      summary: Obtain the deleted summary details
      description: "Return the object name \r\n            Customer\r\n            Sales\r\n            SalesItem"
      operationId: DataSync_DeletedSummarySync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClickPOS.Maintenance.Data.DeleteLogEntryDataSummary'
      deprecated: false
  /ctimeapi/DataSync/ProductPropertyListSync:
    get:
      tags:
        - DataSync
      summary: "Product property list \r\n            Api data call : Product/AddPropertyValues\r\n            Table data model table  : PropertyCategory/tblProductPropertylist"
      operationId: DataSync_ProductPropertyListSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/ProductPropertyCategoryListSync:
    get:
      tags:
        - DataSync
      summary: "Product property category list\r\n            Api call :Product/AddPropertyValueCategory\r\n            Table api model used : ProductPropertySubCategory/ProductPropertyCategoryList/tblProductPropertyCategoryList"
      operationId: DataSync_ProductPropertyCategoryListSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/DataSync/PaymentMethodListSync:
    get:
      tags:
        - DataSync
      summary: Payment Method List
      operationId: DataSync_PaymentMethodListSync
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Dummy/DummyCall:
    get:
      tags:
        - Dummy
      operationId: Dummy_DummyCall
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Dummy/PrintStructure:
    get:
      tags:
        - Dummy
      operationId: Dummy_PrintStructure
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Dummy/UtcTimeCheck:
    get:
      tags:
        - Dummy
      operationId: Dummy_UtcTimeCheck
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: utctime
          in: query
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/FileUpload/PostUploadFile:
    post:
      tags:
        - FileUpload
      operationId: FileUpload_PostUploadFile
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/GlobalSettings/ApplicationPrivateSettings:
    get:
      tags:
        - GlobalSettings
      summary: Obtain the appication specific settings
      operationId: GlobalSettings_ApplicationPrivateSettings
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/GlobalSettings/ApplicationSettings:
    get:
      tags:
        - GlobalSettings
      summary: Global settings
      operationId: GlobalSettings_ApplicationSettings
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageService/Test:
    post:
      tags:
        - ImageService
      operationId: ImageService_Test
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/UploadTimeSheetImageById:
    post:
      tags:
        - ImageUpload
      summary: Post Image as a streame / with timesheet id
      operationId: ImageUpload_UploadTimeSheetImageById
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.ClickPOSResponseMessage'
      deprecated: false
  /ctimeapi/ImageUpload/UpdateTimeSheetImageNameById:
    post:
      tags:
        - ImageUpload
      summary: UpdateTimesheet Image Name id
      operationId: ImageUpload_UpdateTimeSheetImageNameById
      consumes: []
      produces: []
      responses:
        '204':
          description: No Content
      deprecated: false
  /ctimeapi/ImageUpload/RemoveProductImage:
    post:
      tags:
        - ImageUpload
      summary: Image delete for the product item
      operationId: ImageUpload_RemoveProductImage
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/ProductImage:
    post:
      tags:
        - ImageUpload
      summary: "Upload the product image \r\n            provide the barcode \r\n            provide the token \r\n            provide the product code"
      operationId: ImageUpload_ProductImage
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.ClickPosCommonResponseMessage'
      deprecated: false
  /ctimeapi/ImageUpload/ProductCatalogueImage:
    get:
      tags:
        - ImageUpload
      summary: Obtain the product image data
      description: "imagesubpath \r\n            usage \r\n            0 is product main\r\n            1 is sub product"
      operationId: ImageUpload_ProductCatalogueImage
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: companylogincode
          in: query
          description: ''
          required: true
          type: string
        - name: productbarcode
          in: query
          description: ''
          required: true
          type: string
        - name: imagesubpath
          in: query
          description: ''
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/ProductImageByName:
    get:
      tags:
        - ImageUpload
      summary: "get product catalogue image by name \r\n            default : jpg"
      operationId: ImageUpload_ProductImageByName
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/UserPhoto:
    post:
      tags:
        - ImageUpload
      summary: "Upload the user photo \r\n            when creating the user optional?"
      operationId: ImageUpload_UserPhoto
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.ClickPosCommonResponseMessage'
      deprecated: false
  /ctimeapi/ImageUpload/UserPhotoDeleteByUserNumber:
    post:
      tags:
        - ImageUpload
      summary: Remove the user by the user number/ code
      operationId: ImageUpload_UserPhotoDeleteByUserNumber
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/UserPhotByUserNumber:
    get:
      tags:
        - ImageUpload
      summary: "get user photo by user number  \r\n            default : jpg"
      operationId: ImageUpload_UserPhotByUserNumber
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/ProductItemImage:
    get:
      tags:
        - ImageUpload
      summary: Obtain the product item image
      description: "Provide the barcode \r\n            Provide product code \r\n            Token Value"
      operationId: ImageUpload_ProductItemImage
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/ImageUpload/ProductItemUpload:
    post:
      tags:
        - ImageUpload
      summary: Upload Product Sub
      operationId: ImageUpload_ProductItemUpload
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.ClickPosCommonResponseMessage'
      deprecated: false
  /ctimeapi/LogActivity/ActivitityData:
    get:
      tags:
        - LogActivity
      summary: List the system activity
      operationId: LogActivity_ActivitityData
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: startdate
          in: query
          description: ''
          required: true
          type: string
          format: date-time
        - name: enddate
          in: query
          description: ''
          required: true
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/LogActivity/LogSingleActivity:
    post:
      tags:
        - LogActivity
      summary: Log single Activity
      operationId: LogActivity_LogSingleActivity
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: logdetails
          in: body
          description: ''
          required: true
          schema:
            $ref: >-
              #/definitions/ClickPOS.Publicmodels.PublicModelInformation.UserLogActivity
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/LogActivity/Logdetails:
    post:
      tags:
        - LogActivity
      summary: Log the user acitivity with details
      operationId: LogActivity_Logdetails
      consumes:
        - application/json
        - text/json
      produces: []
      parameters:
        - name: logfile
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ClientActivityLogger'
      responses:
        '204':
          description: No Content
      deprecated: false
  /ctimeapi/Organisation/CompanyTrialCheck:
    get:
      tags:
        - Organisation
      summary: Check for the company trial area
      description: "will indicate the trial period have expired or not \r\n            will populate a message regarding the trial and payment option ??"
      operationId: Organisation_CompanyTrialCheck
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/CompanyDetails:
    get:
      tags:
        - Organisation
      summary: Compnay Details
      description: Organisation details
      operationId: Organisation_CompanyDetails
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.Company'
      deprecated: false
  /ctimeapi/Organisation/HelperPasswordForgot:
    get:
      tags:
        - Organisation
      operationId: Organisation_HelperPasswordForgot
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/BranchDetails:
    get:
      tags:
        - Organisation
      summary: Branch Details
      description: Branch details infromation
      operationId: Organisation_BranchDetails
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      deprecated: false
  /ctimeapi/Organisation/EditBranch:
    post:
      tags:
        - Organisation
      summary: Edit branch information
      operationId: Organisation_EditBranch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchinformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      deprecated: false
  /ctimeapi/Organisation/AddBranch:
    post:
      tags:
        - Organisation
      summary: Create branch information
      operationId: Organisation_AddBranch
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchinformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      deprecated: false
  /ctimeapi/Organisation/RemoveBranchByRecordid:
    post:
      tags:
        - Organisation
      summary: Remove branch by branch record id
      operationId: Organisation_RemoveBranchByRecordid
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchrecordid
          in: query
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/UserBranchAllocationList:
    get:
      tags:
        - Organisation
      summary: get user list allocated for the branch
      operationId: Organisation_UserBranchAllocationList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/RepAllocationList:
    get:
      tags:
        - Organisation
      summary: Sales Representative information
      description: Sales representative information details for each branch
      operationId: Organisation_RepAllocationList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.CompanyBranch'
      deprecated: false
  /ctimeapi/Organisation/PayTypeList:
    get:
      tags:
        - Organisation
      summary: Get pay type list
      operationId: Organisation_PayTypeList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.PaymentType'
      deprecated: false
  /ctimeapi/Organisation/AddPaymentMethod:
    post:
      tags:
        - Organisation
      summary: Add payment method
      operationId: Organisation_AddPaymentMethod
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: paymenttypeentry
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.PaymentType'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/AddBranchPaymentAllocation:
    post:
      tags:
        - Organisation
      summary: Branch payment method allocation
      operationId: Organisation_AddBranchPaymentAllocation
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: branchpaymentmethodallocation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.BranchPaymentMethodAllocation'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/EditPaymentMethod:
    post:
      tags:
        - Organisation
      summary: Edit payment type
      operationId: Organisation_EditPaymentMethod
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: paymenttypeentry
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.PaymentType'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/RemovePaymentMethodByName:
    post:
      tags:
        - Organisation
      summary: Remove Payment type by name
      operationId: Organisation_RemovePaymentMethodByName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: paymenttypename
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/EditUser:
    post:
      tags:
        - Organisation
      summary: Edit user information
      operationId: Organisation_EditUser
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: userinformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.UserInformation'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/AddUser:
    post:
      tags:
        - Organisation
      summary: Add User
      operationId: Organisation_AddUser
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: userInformation
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.UserInformation'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/UserList:
    get:
      tags:
        - Organisation
      summary: User List
      operationId: Organisation_UserList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/RemoveUserByUserName:
    post:
      tags:
        - Organisation
      summary: Remove user by user name
      description: 'Token: company token key'
      operationId: Organisation_RemoveUserByUserName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: targetusername
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/ListOfUsers:
    get:
      tags:
        - Organisation
      summary: List of users
      operationId: Organisation_ListOfUsers
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/UserGroups:
    get:
      tags:
        - Organisation
      summary: Obtain the user group list
      operationId: Organisation_UserGroups
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/UserGroupNames:
    get:
      tags:
        - Organisation
      summary: Obtain only group names
      operationId: Organisation_UserGroupNames
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/AddUserGroupName:
    post:
      tags:
        - Organisation
      summary: Add user group name
      description: this will add the group with default settings
      operationId: Organisation_AddUserGroupName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: usergroupname
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/DeleteUserGroup:
    post:
      tags:
        - Organisation
      summary: Delete user group name
      operationId: Organisation_DeleteUserGroup
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: usergroupname
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/CreateUserGroup:
    post:
      tags:
        - Organisation
      summary: Add user group settings
      description: add the user group object
      operationId: Organisation_CreateUserGroup
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: usergorupdata
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.UserGroup'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Organisation/UserPermissionListByUserGroup:
    get:
      tags:
        - Organisation
      summary: User permisson list by user group
      operationId: Organisation_UserPermissionListByUserGroup
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Payment/AddPayment:
    post:
      tags:
        - Payment
      summary: "Add payment line for the created invoice \r\n            invoice number is required \r\n            payment type \r\n            till if need \r\n            payment amount \r\n            this will need to be reconmcile with the amount paid and total amount owed"
      operationId: Payment_AddPayment
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: paymententry
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Payment'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.Payment'
      deprecated: false
  /ctimeapi/Payment/UpdatePayment:
    post:
      tags:
        - Payment
      summary: "Update payment details \r\n            pre-requesite : need to have a vcalid payment record corresponds"
      operationId: Payment_UpdatePayment
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: editpaysegmentinformation
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Payment'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/clickposapi.Models.Payment'
      deprecated: false
  /ctimeapi/Payment/RemovePayment:
    post:
      tags:
        - Payment
      summary: Remove sale payment
      operationId: Payment_RemovePayment
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: paymentCode
          in: query
          description: ''
          required: true
          type: integer
          format: int32
        - name: invoicenumber
          in: query
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/DisplayOnWebList:
    get:
      tags:
        - Product
      summary: Display on web / obtained by catalogue
      description: Display on web / obtained by catalogue list
      operationId: Product_DisplayOnWebList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Catalogue'
      deprecated: false
  /ctimeapi/Product/PhoneOnlyRepairList:
    get:
      tags:
        - Product
      summary: Gets the list of Phone repair
      description: >-
        Return the list of phones name in plantemplate where carrier is marked
        as repairs
      operationId: Product_PhoneOnlyRepairList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: string
      deprecated: false
  /ctimeapi/Product/RepairTypeByPhoneName:
    get:
      tags:
        - Product
      summary: Return the phone repair types by phone type
      description: Gets all the phone repair types by supplying phone name
      operationId: Product_RepairTypeByPhoneName
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: phonetype
          in: query
          description: supply phone type to get phone repair types
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: string
      deprecated: false
  /ctimeapi/Product/NoneStockableListByProductGroupnameBarcode:
    get:
      tags:
        - Product
      summary: Non stokable product list
      description: Gets None stockable list by providing ProductGroupname and Barcode
      operationId: Product_NoneStockableListByProductGroupnameBarcode
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Catalogue'
      deprecated: false
  /ctimeapi/Product/ProductGroupList:
    get:
      tags:
        - Product
      summary: Product group list
      description: Gets the list of product groups
      operationId: Product_ProductGroupList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.ProductGroup'
      deprecated: false
  /ctimeapi/Product/ProductMainGroupList:
    get:
      tags:
        - Product
      summary: Obtain the complete product group list
      operationId: Product_ProductMainGroupList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/CreateCatalogueGroup:
    post:
      tags:
        - Product
      summary: "Catalogue group \r\n            Create or update based on the id provided \r\n            Prerequisite : the master category need to be created first"
      operationId: Product_CreateCatalogueGroup
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productgroupobject
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductGroup'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/NoneStockableListByProductGroupname:
    get:
      tags:
        - Product
      summary: Non-stockable list by group name
      description: Gets Non-stockable list by product group name
      operationId: Product_NoneStockableListByProductGroupname
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Catalogue'
      deprecated: false
  /ctimeapi/Product/ProductCatalogue:
    get:
      tags:
        - Product
      summary: Product catalogue
      description: Gets product catalogue list by page numbers
      operationId: Product_ProductCatalogue
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: StartPageNo
          in: query
          description: 'Start page number(default : 1)'
          required: false
          type: integer
          format: int32
        - name: EndPageNumber
          in: query
          description: 'End page number(default : 10)'
          required: false
          type: integer
          format: int32
        - name: IsPagingEnabled
          in: query
          description: Enable page
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.Catalogue'
      deprecated: false
  /ctimeapi/Product/SupplierList:
    get:
      tags:
        - Product
      summary: Gets supplier list
      description: Returns all suppliers
      operationId: Product_SupplierList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/AddSupplier:
    post:
      tags:
        - Product
      summary: Add supplier to the system
      description: Add supplier to the system
      operationId: Product_AddSupplier
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: supplierInfo
          in: body
          description: Supply supplier info
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Supplier'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ProductEntryRemoveByBarCode:
    post:
      tags:
        - Product
      summary: Remove product by barcode
      operationId: Product_ProductEntryRemoveByBarCode
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ListProductItemExtraAllocationByCatalogueBarcodeandGroupName:
    post:
      tags:
        - Product
      summary: "List the extra items allocated for the respective catalogue barcode and the group name\r\n            any edits for these record will be individually maintained \r\n            no picture updates required"
      description: STAND-ALONE table
      operationId: Product_ListProductItemExtraAllocationByCatalogueBarcodeandGroupName
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productextrarequest
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductExtraIncludes'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/EditProductExtraDetailItem:
    post:
      tags:
        - Product
      summary: Edit product extra detail item
      description: Edit single extra detail item
      operationId: Product_EditProductExtraDetailItem
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productextraitemdetails
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductExtraIncludes'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/DeleteProductExtraDetailItem:
    post:
      tags:
        - Product
      summary: Delete product extra item details
      operationId: Product_DeleteProductExtraDetailItem
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productextraitemdetails
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductExtraIncludes'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/DeleteProductItemGroupAllocation:
    post:
      tags:
        - Product
      summary: Delete product item allocation from group
      operationId: Product_DeleteProductItemGroupAllocation
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productgroupinformation
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItemGroupItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/EditProductItemGroupList:
    post:
      tags:
        - Product
      summary: Edit the product item sort order
      description: the following will validate and edit only the sort order
      operationId: Product_EditProductItemGroupList
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: itemproductgrouplist
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.ProductItemGroupItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/AddProductItemGroupItem:
    post:
      tags:
        - Product
      summary: Add product item group item allocation
      description: allocating group item for a perticuler product item
      operationId: Product_AddProductItemGroupItem
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productitemgroupitem
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItemGroupItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/AssingCatalogueExtraGroupNameByCatalogueBarCode:
    post:
      tags:
        - Product
      summary: >-
        allocate the product catalogue barcode and group for extra item
        colection
      operationId: Product_AssingCatalogueExtraGroupNameByCatalogueBarCode
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productextraincludes
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductExtraIncludes'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ResetExtraGroupByCatalogueBarcode:
    post:
      tags:
        - Product
      summary: Reset the extra group for selected catalogue by barcode
      operationId: Product_ResetExtraGroupByCatalogueBarcode
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/RemoveProductItemGroup:
    post:
      tags:
        - Product
      summary: Delete product item group
      operationId: Product_RemoveProductItemGroup
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productitemgroupentry
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItemGroup'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/AddProductItemGroup:
    post:
      tags:
        - Product
      summary: Add product item group
      operationId: Product_AddProductItemGroup
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productItemgroup
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItemGroup'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/EditProductItemGroup:
    post:
      tags:
        - Product
      summary: Update product Item group
      operationId: Product_EditProductItemGroup
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productitemgroup
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItemGroup'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/EditStandardProductItemSortOrder:
    post:
      tags:
        - Product
      summary: Update the product sort order
      operationId: Product_EditStandardProductItemSortOrder
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productstandardattachments
          in: body
          description: ''
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/clickposapi.Models.ProductStandeardAttachments'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ProductStandeardIncludesEntry:
    post:
      tags:
        - Product
      summary: Product Standard entry
      operationId: Product_ProductStandeardIncludesEntry
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productattachments
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductStandeardAttachments'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/RemoveProductStandardIncludeEntry:
    post:
      tags:
        - Product
      summary: Remove the standard entry
      operationId: Product_RemoveProductStandardIncludeEntry
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productattachments
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductStandeardAttachments'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ListStandardPoductItemByBarCode:
    get:
      tags:
        - Product
      summary: List standard product item for the specified catalogue item
      description: "Token: \r\n            Barcode : should be pass on the header value"
      operationId: Product_ListStandardPoductItemByBarCode
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/RemoveProductItem:
    post:
      tags:
        - Product
      summary: Remove product item
      operationId: Product_RemoveProductItem
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productentry
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ProductItemEdit:
    post:
      tags:
        - Product
      summary: Product Item Edit
      operationId: Product_ProductItemEdit
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productitementry
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ProductItemEntry:
    post:
      tags:
        - Product
      summary: Add product item entry
      operationId: Product_ProductItemEntry
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productitementry
          in: body
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.ProductItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/ProductEntry:
    post:
      tags:
        - Product
      summary: "Add product entry for the system\r\n            use the product model for this"
      operationId: Product_ProductEntry
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productcatalogue
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Catalogue'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/AddProduct:
    post:
      tags:
        - Product
      summary: "adding the product information \r\n            Note : not in use"
      description: Add product information to the system
      operationId: Product_AddProduct
      consumes:
        - application/json
        - text/json
      produces:
        - application/json
        - text/json
      parameters:
        - name: productInformation
          in: body
          description: Supply product information
          required: true
          schema:
            $ref: '#/definitions/clickposapi.Models.Product'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/SpeedProductGroup:
    get:
      tags:
        - Product
      summary: list product group for seepd sales
      description: Gets list product group for seepd sales
      operationId: Product_SpeedProductGroup
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/ClickPOS.Publicmodels.PublicModelInformation.ProductGroupDisplay
      deprecated: false
  /ctimeapi/Product/DisplayProductCategoryList:
    get:
      tags:
        - Product
      summary: get the list of product display
      description: Gets product category display List
      operationId: Product_DisplayProductCategoryList
      consumes: []
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/ClickPOS.Publicmodels.PublicModelInformation.ProductGroupScreenDisplay
      deprecated: false
  /ctimeapi/Product/AddMasterCategory:
    post:
      tags:
        - Product
      summary: Creates category zero by description text
      description: Creates category zero by description text
      operationId: Product_AddMasterCategory
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: categoryName
          in: query
          description: Supply category name
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /ctimeapi/Product/RemoveMasterCategoryByDescription:
    post:
      tags:
        - Product
      summary: delete category zero by description
[...]
